$primary-main: #fb8f71;
$primary-lighter: #ffd7cc;
$primary-darker: #f36a4a;
$primary-text: #ffffff;

// Couleurs secondaires
$secondary-main:#A4B1BD;
$secondary-lighter: #e5e7eb;
$secondary-darker: #6b7280;